---

---

<div
  class="relative hidden truncate bg-[#dbeafe] px-3 py-2 text-sm text-muted md:block"
>
  <span
    class="mr-0.5 inline-block bg-white/40 px-1 py-0.5 text-xs font-semibold rtl:ml-0.5 rtl:mr-0"
  >
    デモサイト
  </span>
</div>
