---
import { Icon } from 'astro-icon/components';
---

<section class="not-prose bg-green-50">
  <a
    href="#"
    class="group mx-auto block max-w-6xl text-balance break-keep p-4 text-center font-medium text-gray-700 underline decoration-teal-600 underline-offset-4 transition duration-300 hover:text-gray-900 hover:decoration-teal-700 sm:px-6"
  >
    医師4名と臨床心理師等9名の専門職が、あなたと共に歩みます
    <Icon
      name="tabler:arrow-narrow-right"
      class="inline-block size-6 text-teal-700 duration-500 group-hover:translate-x-2 group-hover:text-teal-800"
    />
  </a>
</section>
