---
import { getImage } from 'astro:assets';
import policy1Image from '~/assets/images/policy-1.jpg';
import policy2Image from '~/assets/images/policy-2.jpg';
import policy3Image from '~/assets/images/policy-3.jpg';
import policy4Image from '~/assets/images/policy-4.jpg';
import depressionImage from '~/assets/images/depression.jpg';
import insomniaImage from '~/assets/images/insomnia.jpg';
import anxietyImage from '~/assets/images/anxiety.jpg';
import dementiaImage from '~/assets/images/dementia.jpg';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features4 from '~/components/widgets/Features4.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getLocaleKey, getTranslation } from '~/i18n';
import { contents } from '~/i18n/contents';

const metadata = {
  title: 'こころのクリニック — 医師4名と臨床心理師等9名の専門職が、あなたと共に歩みます',
  ignoreTitleTemplate: true,
};

const t = getTranslation(contents, getLocaleKey(Astro.currentLocale));

const policy1 = await getImage({ src: policy1Image, formats: 'webp' });
const policy2 = await getImage({ src: policy2Image, formats: 'webp' });
const policy3 = await getImage({ src: policy3Image, formats: 'webp' });
const policy4 = await getImage({ src: policy4Image, formats: 'webp' });

const depression = await getImage({ src: depressionImage, formats: 'webp' });
const insomnia = await getImage({ src: insomniaImage, formats: 'webp' });
const anxiety = await getImage({ src: anxietyImage, formats: 'webp' });
const dementia = await getImage({ src: dementiaImage, formats: 'webp' });
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title" set:html={t('title')} />

    <Fragment slot="subtitle">
      <span class="sm:inline" set:html={t('subtitle')} />
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Medical Policy"
    title="当院の特徴"
    items={[
      {
        title: '悩みや苦しみを「わかる」',
        description:
          '私たちは、患者さんの悩みや苦しみを深く理解することを治療の出発点としています。痛みや不安を「わかる」ことで、信頼関係を築き、治療への道を開くことができます。患者さん一人ひとりの感情に寄り添い、その声に耳を傾けることで、最適な治療法を見つけ出すことが可能になります。',
        image: policy1,
      },
      {
        title: '専門職員によるチーム医療',
        description:
          '多様な病院や組織で豊富な経験を積んだ専門職員がチームを組み、患者さん一人ひとりに合わせた治療にあたります。医師、臨床心理士、看護師など、多職種が協力し合い、それぞれの専門知識と経験を活かして、最良の治療計画を立案します。',
        image: policy2,
      },
      {
        title: '生活全体を改善へ',
        description:
          '患者さんの生活全体に焦点を当て、一人ひとりに最適なサポートを提供することで、より良い健康状態へと導きます。治療は、患者さん自身の生活習慣や環境を改善することも含まれ、病気の治療だけでなく、生活の質の向上も目指します。',
        image: policy3,
      },
      {
        title: '家族と共に歩む',
        description:
          '私たちの治療プロセスは、患者さんとそのご家族との密接な共同作業です。この協働のアプローチは、治療への理解と納得を深め、より良い治療結果へとつながります。また、患者さんが日常生活で直面する課題を乗り越える手助けとなります。',
        image: policy4,
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features4
    title="主な診療案内"
    subtitle="医師4名と臨床心理師等9名の専門職が、あなたと共に歩みます"
    tagline="Medical information"
    items={[
      {
        title: 'うつ病',
        description: '気分が長期にわたり沈み、興味や喜びが感じにくくなります',
        image: depression,
      },
      {
        title: '不眠',
        description: '睡眠の質が低下し、十分な休息が得られない',
        image: insomnia,
      },
      {
        title: '不安障害',
        description: '強い不安や恐怖を伴い、日常生活に支障をきたす心の病',
        image: anxiety,
      },
      {
        title: 'もの忘れ（認知症）',
        description: '記憶力や判断力が衰え、日常生活に支障をきたす',
        image: dementia,
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features4>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
