---
import logoImage from '~/assets/images/logo.png';
import Image from '~/components/common/Image.astro';
import { SITE } from '~/utils/config';
---

<span
  class="palt flex items-center gap-2 whitespace-nowrap font-serif text-3xl font-bold text-primary transition-colors hover:text-emerald-500 md:text-4xl rtl:ml-0 rtl:mr-2"
>
  <Image class="size-10 md:size-16" src={logoImage} alt={SITE?.name} width={74} />
  {SITE?.name}
</span>
