---
import type { Headline } from '~/types';
import { twMerge } from 'tailwind-merge';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  classes = {},
} = Astro.props as Headline;

const {
  container: containerClass = 'max-w-3xl',
  title: titleClass = 'text-3xl md:text-4xl ',
  subtitle: subtitleClass = 'text-xl',
} = classes;
---

{
  (title || subtitle || tagline) && (
    <div class={twMerge('palt mb-8 text-center font-serif md:mx-auto md:mb-12', containerClass)}>
      {title && <h2 class={twMerge('font-bold text-3xl', titleClass)} set:html={title} />}
      {tagline && (
        <p class="text-base font-bold uppercase tracking-wide text-secondary dark:text-blue-200" set:html={tagline} />
      )}

      {subtitle && <p class={twMerge('mt-4 text-muted', subtitleClass)} set:html={subtitle} />}
    </div>
  )
}
